<h1><%= @event.description.upcase %></h1>
<p><b>Event creator: </b><%= @event.creator.name %></p>
<p><b>Date: </b><%= @event.date.strftime("%B %e, %Y") %></p>
<% if current_user == @event.creator %>
	<%= link_to 'Invite people to your event!', '#' %>
<% end %>

<h2>Attendees:</h2>
<% if @attendees.any? %>
	<ol>
		<% @attendees.each do |attendee| %>
			<li>
				<%= attendee.name.capitalize %>
			</li>
		<% end %>
	</ol>
<% end %>
