<h1><%= @event.description.upcase %></h1>
<div>
	<p><b>Event creator: </b><%= @event.creator.name %></p>
	<p><b>Date: </b><%= @event.date.strftime("%B %e, %Y") %></p>
	<% if !@users.empty? && current_user == @event.creator %>
		<%= render 'shared/invitation_form' %>
	<% else %>
		No one to invite
	<% end %>
</div>

<h2>Invited:</h2>
<%= render 'guest_list', object: @invited %>
<h2>Attending:</h2>
<%= render 'guest_list', object: @accepted %>
<h2>Rejected:</h2>
<%= render 'guest_list', object: @rejected %>




